@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    /*background-color: ;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    padding: 50px;
    font-family: "NeueHaasGroteskText Pro", sans-serif;
    margin-left: 10%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 30px;
}

.sub-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.sub-main .subtitle {
    font-size: 24px;
    background-color: #A8F0AF;
    font-family: 'Ubuntu', sans-serif;
}

.paragraph {
    margin-bottom: 30px;
}


/*navigation bar*/

/*navigation bar*/
ul {
    list-style: none;

}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 40vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F8E1F4;
    padding: 0px 5%;
}


nav ul {
    display: flex;
}

nav ul li a:hover {
    border-bottom:3px solid #fff;

}

nav ul li a, nav .logo{
    margin: 20px;
    /*font-family: "NeueHaasGroteskText Pro", sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #707070;
}

nav ul li button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #707070;
}

nav .logo {
    font-family: 'Ubuntu', sans-serif;;
}

#active {
    font-weight: bold;
    color: black;
}

/*dropdown*/
.dropbtn {
    cursor: pointer;
    /*font-size: 16px;*/
    border: none;
    outline: none;
    /*color: white;*/
    /*padding: 14px 16px;*/
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*footer*/

footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #F8E1F4;
}

footer p {
    /*font-family: "NeueHaasGroteskText Pro", sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.social-icons {
    display: flex;
}

.copyright {
    color: #707070;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons i{
    color: #000000;

}

.social-icons a:hover i{
    color: #000000;
}

@media(min-height: 1200px) {
    footer{
        margin-top: 240px;
    }
}